.certificateList {
  margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 25px; 
	flex-wrap: wrap;
	margin-top: 25px;
	padding: 20px 20px;
}

.card {
	box-sizing: content-box;
	width: 320px;
	height: 300px;
	list-style-type: none; 
  padding: 25px; 
  border-radius: 15px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	font-family:'Trebuchet MS',  Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
	align-items: center;
	background-color: #EBEBDF;
}

p {
	margin: 0;
	padding: 0;
}

.itemName {
  margin: 0;
	margin-top: 10px;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px #c0c0a7 solid;
}

.itemContent {
	font-size: 20px;
	text-align: center;
}

.itemTotalPrice {
  margin-top: 50px;
}

.itemPrice {
	margin-left: 10px;
	font-size: 25px;
  color: rgb(255, 0, 0);
}

.btnBuy {
	margin: 0 auto;
	height: 40px;
	width: 150px;
	padding: 10px 10px;
	border: none;
	background-color: #EA631B;
	border-radius: 5px;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition:  background-color 0.3s;
}

.btnBuy:hover {
  background-color: #bd1b1b; 
}

@media (max-width: 780px) {
  .card {
    width: 100%; 
  }
	.btnBuy {
		height: 60px;
		width: 150px;
		font-size: 20px;
	}
}